# Database Configuration
db.username=
db.password=
db.url=

#jdbc:sqlserver://localhost\\SQLEXPRESS:1433;databaseName=EduPlan
# Server Configuration
server.port=
server.context=

# Application Configuration
app.name=
app.version=

# Application properties
mail.username=thesevenplusplus@gmail.com
mail.password=joqk anti trkk xycq