<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TestDB</servlet-name>
        <servlet-class>controller.TestDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>controller.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SemestersController</servlet-name>
        <servlet-class>controller.SemestersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectsController</servlet-name>
        <servlet-class>controller.SubjectsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonsController</servlet-name>
        <servlet-class>controller.LessonsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarController</servlet-name>
        <servlet-class>controller.CalendarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestDB</servlet-name>
        <url-pattern>/TestDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/auth/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemestersController</servlet-name>
        <url-pattern>/semesters/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectsController</servlet-name>
        <url-pattern>/subjects/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonsController</servlet-name>
        <url-pattern>/lessons/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarController</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/semesters/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/lessons/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/calendar/*</url-pattern>
    </filter-mapping>
</web-app>
